<%= form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    What's the name of your company?<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    What industry are you in?<br />
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <% f.label :wacc %><br />
    <% f.text_field :wacc %>
  </div>
  <div class="field">
    <% f.label :terminal %><br />
    <% f.text_field :terminal %>
  </div>
  <div class="field">
    <% f.label :current_debt %><br />
    <% f.text_field :current_debt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
