<h3>Calculations</h3>
<table class="table table-hover table-condensed">
<tr><td>Terminal Growth Rate</td>
    <td align="right"><%= Format.percent_dec(Statement.terminal*100) %></td>
</tr>

<tr><td>WACC</td>
    <td align="right"><%= Format.percent_dec(Statement.wacc*100) %></td>
</tr>
<tr>
    <td>Extra Year DCF</td>
    <td align="right"><%= Format.currency_dec(@extra_year_fcf) %></td>
</tr>
<tr>
    <td>Continuing Value</td>
    <td align="right"><%= Format.currency_dec(@cv) %></td>
</tr>
<tr>
    <td>Discounted CV</td>
    <td align="right"><%= Format.currency_dec(@disc_cv) %></td>
</tr>
<tr>
    <td>Sum of Explicit DCF</td>
    <td align="right"><%= Format.currency_dec(@dcf_explicit) %></td>
</tr>
<tr>
    <td>Enterprise Value</td>
    <td align="right"><%= Format.currency_dec(@ev) %></td>
</tr>
<tr>
    <td>Current Debt</td>
    <td align="right"><%= Format.currency_dec(Statement.current_debt) %></td>
</tr>
<tr>
    <td>Equity</td>
    <td align="right"><%= Format.currency_dec(@equity) %></td>
</tr>
</table>