<%= form_for(@statement) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |msg| %>
        <li><%= msg %> </li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <br>
  <table class="table">
  <td>
    <div class="field">
      <%= f.label :period %>
      <%= f.number_field :period %>
    </div>
    <div class="field">
      <%= f.label :revenue %>
      <%= f.text_field :revenue %>
    </div>
    <div class="field">
      <p>Cost of Goods Sold</p>
      <%= f.text_field :cgs %>
    </div>
  </td>
  
  <td > 
    <div class="field">
      <p>Operating Expenses</p>
      <%= f.text_field :opex %>
    </div>
    <div class="field">
      <p>Depreciation &amp; Amortization</p>
      <%= f.text_field :da %>
    </div>
    <div class="field">
      <p>Interest Expense</p> 
      <%= f.text_field :interest %>
    </div>
  </td>

  <td>
    <div class="field">
      <p>Tax Expense</p> 
      <%= f.text_field :tax %>
  </div>
  <div class="field">
      <p>Capital Expenditures</p> 
      <%= f.text_field :capex %>
  </div>
  <div class="field">
      <p>Change in Net Working Capital</p> 
      <%= f.text_field :nwc_chg %>
  </div>
   </td>
  </table>
  <div class="actions">
  <%= f.submit %>
  </div>
 

<% end %>
