<h2>Your business is worth <%= Format.currency(@equity) %></h2>

<!--<div class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li>
        <a href="#statements" class="smoothScroll">Statements</a>
      </li>
      <li>
        <a href="#financials" class="smoothScroll">Calculations</a>
      </li>
      <div class="nav pull-right">
          <li>
            <%= link_to 'Back', businesses_url %>
          </li>
      </div>
    </ul>
  </div>
</div>
</div>-->

<a name="financials"></a> 
<%= render 'financials' %>

<%= link_to 'Add Year', new_statement_path, :class => 'btn btn-small' %>

<a name="calculations"></a> 
<%= render 'calculations' %>

<br />

