<div class="navbar">
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <!--<li>
        <a href="#value" class="smoothScroll">Your Value</a>
      </li>-->
      <li>
        <a href="#summary" class="smoothScroll">Summary</a>
      </li>
      <!--<li>
        <a href="#is" class="smoothScroll">Income Statement</a>
      </li>-->
      <li>
        <a href="#dcf" class="smoothScroll">Discounted Cash Flow</a>
      </li>
      <li>
        <a href="#multiples" class="smoothScroll">Market Valuation</a>
      </li>
      <li>
        <a href="#transaction" class="smoothScroll">Transaction Approach</a>
      </li>
    </ul>
  </div>
</div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<a name="summary"></a>
<h2 style="text-align:center"><%= Statement.business_name %> is worth <%= Format.currency(((6622.87+7212.05+@ev)/3)) %></h2>
<br />
<h3>Summary</h3>
<%= render 'summary' %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a name="is"></a>
<h3>Income Statement</h3>
<%= render 'financials' %>
<%= link_to 'Add Year', new_statement_path, :class => 'btn btn-small' %>
<br />
<br />
<br />
<br />
<a name="dcf"></a>
<br />
<br />
<br />
<h3>Discounted Cash Flow</h3>
<%= render 'dcf' %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a name="multiples"></a>
<h3>Market Valuation Approach</h3>
<%= render 'multiples' %>
<br />
<br />
<br />
<br />
<br />
<br />
<a name="transaction"></a>
<h3>Transaction Approach</h3>
<%= render 'transaction' %>
<br />
<br />
<br />
