<p id="notice"><%= notice %></p>

<table class="table table-hover">
<tr>
  <td><b></b></td>
  <td align="right"><%= @statement.period %></td>
</tr>

<tr>
  <td><b>Revenue:</b></td>
  <td align="right"><%= Format.currency(@statement.revenue) %></td>
</tr>

<tr>
  <td><b>Cost of Goods</b></td>
  <td align="right"><%= Format.comma(@statement.cgs) %></td>
</tr>

<tr>
  <td><b>Operating Expenses:</b></td>
  <td align="right"><%= Format.comma(@statement.opex) %></td>
</tr>

<tr>
  <td><b>Depreciation and Amortization:</b></td>
  <td align="right"><%= Format.comma(@statement.da) %></td>
</tr>

<tr>
  <td><b>Taxes:</b></td>
  <td align="right"><%= Format.comma(@statement.tax) %></td>
</tr>

<tr>
  <td><b>Capex:</b></td>
  <td align="right"><%= Format.comma(@statement.capex) %></td>
</tr>
</table>

<%= link_to 'Change Statements for This Year', edit_statement_path(@statement), :class => "btn btn-small" %>
<%= link_to 'Add Another Year', new_statement_path, :class => "btn btn-small" %>
<%= link_to 'Take Me to the Valuation', statements_path, :class => "btn btn-small" %>
<br />
<br />